{% extends 'AdminBundle:Dashboard:base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Edit Serie: {{ form.vars.value.name }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.tvdbid) }}
            {{ form_row(form.state) }}

            {{ form_row(form.cover) }}
            <div class="row text-center cover"><img src="{{ form.vars.value.cover }}" alt=""></div>


            {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}