
<div class="wrapper">

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"  class="form-signin">
        <h3 class="form-signin-heading">Modifier votre Password !</h3>
        <hr class="colorgraph"><br>


        {{ form_row(form.current_password, { 'attr': {'class': 'form-control','placeholder': "Votre password actuel..."} }) }}
        {{ form_row(form.new.first, { 'attr': {'class': 'form-control','placeholder': "Votre nouveau password..."} }) }}
        {{ form_row(form.new.second, { 'attr': {'class': 'form-control','placeholder': "Confirmation de votre password..."} }) }}


        <div>
            <a href="{{ path('s_panel') }}">
                <button id="submit" class="btn btn-lg btn-primary btn-block" type="Submit">Retour sur votre profil</button>
            </a>

            <button id="submit" class="btn btn-lg btn-primary btn-block"  name="Submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" type="Submit">Envoyer</button>
        </div>


    </form>
</div>
